@charset "utf-8";
/* CSS Document */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box}
*,body{padding:0px;	margin:0px;color: #222;font-family: "微软雅黑";}
body{width: 100%; height: 100%; overflow: hidden; background-size:cover;color:#666; padding-bottom: 30px;font-size: .1rem;background:#000;}
li{ list-style-type:none;}
/* table{} */
i{ margin:0px; padding:0px; text-indent:0px;}
img{ border:none; max-width: 100%;}
a{ text-decoration:none; color:#399bff;}
a.active,a:focus{ outline:none!important; text-decoration:none;}
ol,ul,p,h1,h2,h3,h4,h5,h6{ padding:0; margin:0}
a:hover{ color:#06c; text-decoration: none!important}


@font-face {
    font-family: "number";
    src: url("../fonts/LCDM2U__.TTF");
}

.clearfix:after, .clearfix:before {
	display: table;
	content: " "
}
 .clearfix:after {
	clear: both
}
.pulll_left{float:left;}
.pulll_right{float:right;}
/*谷哥滚动条样式*/

  ::-webkit-scrollbar {width:5px;height:5px;position:absolute}
  ::-webkit-scrollbar-thumb {background-color:#5bc0de}
  ::-webkit-scrollbar-track {background-color:#ddd}

/***/

.loading{position:fixed; left:0; top:0; font-size:.3rem; z-index:100000000;width:100%; height:100%; text-align:center;}
.loadbox{position:absolute; width:160px;height:150px; color: #324e93; left:50%; top:50%; margin-top:-100px; margin-left:-75px;}
.loadbox img{ margin:10px auto; display:block; width:40px;}

.copyright{ background:rgba(19,31,64,.32); border: 1px solid rgba(255,255,255,.05); line-height:.5rem; text-align: center; padding-right: 15px; bottom: 0; color:rgba(255,255,255,.7); font-size: .16rem; }

.head{ height:1.05rem; background: url(../images/head_bg.png) no-repeat center center; background-size: 100% 100%; position: relative}
.head h1{ color:#fff; text-align: center; font-size: .42rem; line-height:.75rem;}
.head h1 img{ width:1.5rem; display: inline-block; vertical-align: middle; margin-right: .2rem}
.search-wrap{ position: absolute;  display: flex; top: 1rem; left: 0.42rem; width: 4rem;height: 0.42rem; z-index: 999;}
.search-wrap input {  padding: 0.1rem; width: 3rem; height: 0.4rem; background: none; color: #fff; border: 1px solid #3984b3;}
.search-wrap .search-btn { border: 1px solid #3984b3; width: 1rem; height: 0.4rem; line-height: 0.42rem; text-align: center;}
.search-wrap .search-btn i { color: #a9f9fd;}
.search-wrap .search-btn:hover i { color: #fff;}

.search-tips{ display: none;position: absolute; width: 4rem; left: 0.42rem; top: 1.42rem; border: 1px solid #3984b3; z-index: 999;}
/* .search-tips ul {} */
.search-tips ul li{ padding: 0.1rem 0.2rem; width: 100%; height: 0.35rem; color: #a9f9fd;border-bottom: 1px solid #285977;}

.mainbox{ padding:.4rem .4rem 0rem .4rem; opacity: 0;}
.mainbox>ul{ margin-left:-.4rem; margin-right:-.4rem;}
.mainbox>ul>li{ float: left; padding: 0 .4rem}
.mainbox>ul>li{position: relative; width: 30%}
.mainbox>ul>li:nth-child(2){ width: 40%}

.boxall{ border: 1px solid rgba(25,186,139,.17); padding:0 .3rem .3rem .3rem;  background: rgba(255,255,255,.04) url(../images/line.png); background-size: 100% auto; position: relative; margin-bottom: .3rem; z-index: 10;}
.boxall:before,
.boxall:after{ position:absolute; width: .1rem; height: .1rem; content: "";  border-top: 2px solid #02a6b5; top: 0;}
.boxall:before,.boxfoot:before{border-left: 2px solid #02a6b5;left: 0;}
.boxall:after,.boxfoot:after{border-right: 2px solid #02a6b5; right: 0;}
.alltitle{ font-size:.24rem; color:#fff; text-align: center; line-height: .6rem; border-bottom:1px solid rgba(255,255,255,.2)}

.boxfoot{ position:absolute; bottom: 0; width: 100%; left: 0;}
.boxfoot:before,
.boxfoot:after{ position:absolute; width: .1rem; height: .1rem;  content: "";border-bottom: 2px solid #02a6b5; bottom: 0;}

.bar{background:rgba(101,132,226,.1); padding: .15rem;}
.barbox li,.barbox2 li{ width:50%; text-align: center; position: relative; cursor: pointer;}
.barbox:before,
.barbox:after{ position:absolute; width: .3rem; height: .1rem; content: ""; }
.barbox:before{border-left: 2px solid #02a6b5;left: 0;border-top: 2px solid #02a6b5; }
.barbox:after{border-right: 2px solid #02a6b5; right: 0; bottom: 0;border-bottom: 2px solid #02a6b5; }

.barbox li:first-child:before{ position:absolute; content: ""; height:50%; width: 1px; background: rgba(255,255,255,.2); right: 0; top: 25%;}

.barbox{  border: 1px solid rgba(25,186,139,.17); position: relative;}
.barbox li{ font-size: .6rem; color: #ffeb7b; padding: .05rem 0;  font-family: number,Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-weight: bold;}
.barbox2 li{ font-size: .19rem; color: #637c9f; padding-top: .1rem;}

.map{  position:relative; height: 7.2rem; z-index: 9;}
.map4{ width: 200%; height:7rem;  position: relative; left: -50%; top: 4%; margin-top: .2rem; z-index: 5;}
.map1,.map2,.map3{ position:absolute;}
.map1{ width:6.43rem; z-index: 2;top:.45rem; left: .4rem;  animation: myfirst2 15s infinite linear;}
.map2{ width:5.66rem; top:.85rem; left: .77rem; z-index: 3; opacity: 0.2; animation: myfirst 10s infinite linear;}
.map3{ width:5.18rem; top:1.07rem; left: 1.13rem; z-index: 1;}

.dialog { display: flex; flex-direction: column; justify-content: space-between; position: absolute; top: 1.6rem; left: 0rem; width: 100%; height: 7.2rem; z-index: 10; opacity: 0; border: 1px solid #3984b3;}
.dialog-top { width: 100%; height: 50%; font-size: 0.24rem;  background: url("../images/nybj.jpg") no-repeat;}
.dialog-top-title {float: left; width: 40%; height: .5rem; line-height: 0.5rem; text-align: center; color: #ffeb7b;}
.dialog-top-tab-wrap {display: flex;flex-direction: row; float: left; width: 50%; height: .5rem; text-align: center;}
.dialog-top-tab {width: 50%; height: 100%; line-height: 0.5rem;color: #3984b3; border: 1px solid #3984b3; user-select: none; cursor: pointer;}
.dialog-top-tab-active {color: #a9f9fd; border: 1px solid #a9f9fd;}
.dialog-top-close {float: left; width: 10%; height: .5rem; text-align: center; cursor: pointer;}
.dialog-top-close i{color: #3984b3; line-height: 0.5rem;}
.dialog-top-close:hover i{color: #fff;}
.dialog-top-content-wrap { position: relative; float: left; width: 100%; height: calc(100% - 0.5rem);}
.dialog-top-content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background:#000d4a url(../images/nybj.png) no-repeat; z-index: 9;}
.dialog-top-content-active { z-index: 10;}
#echarts9, #echarts10 {width: 100%; height: 100%;}

.dialog-bottom { width: 100%; height: 50%; font-size: 0.24rem; background: url("../images/nybj.png");}
.dialog-bottom-tab-wrap {display: flex;flex-direction: row; float: left; width: 100%; height: .5rem; text-align: center;}
.dialog-bottom-tab {width: 50%; height: 100%; line-height: 0.5rem;color: #3984b3; border: 1px solid #3984b3;  user-select: none; cursor: pointer;}
.dialog-bottom-tab-active {color: #a9f9fd; border: 1px solid #a9f9fd;}
.dialog-bottom-content-wrap { position: relative; float: left; width: 100%; height: calc(100% - 0.5rem);}
.dialog-bottom-content { position: absolute;  top: 0; left: 0; width: 100%; height: 100%; background: url("../images/nybj.png"); z-index: 9;}
.dialog-bottom-content-active { z-index: 10; }
#echarts11, #echarts12 {width: 100%; height: 100%;}


#echarts1,#echarts2,#echarts6,#echarts7,#echarts8{ position:relative;}
#echarts1:before,
#echarts2:before,
#echarts6:before,
#echarts7:before,
#echarts8:before{ position:absolute; content: "23124"; width: 100%; text-align: center; bottom: .15rem; color: #fff; opacity: .7; font-size: .18rem;}

#echarts1:before{ content: "收入结构分析"}
#echarts2:before{ content: "支出结构分析"}

#echarts1 {margin-right: 100px;}
#echarts4 {margin-top: 10px;}


#echarts6:before{ content: "本年收入"}
#echarts7:before{ content: "本年支出"}
#echarts8:before{ content: "年末结转和结余"}



.tabs { text-align: center; padding: .1rem 0 0 0;}
.tabs a {
    position: relative;
    display: inline-block;
    margin-left: 1px;
    padding:.05rem .2rem;
    color: #898989;
    transition: all .3s ease-out 0s;
    font-size: 14px;
}
.tabs li{ display:inline-block;}
.tabs a:after {
    position: absolute;
    width: 1px;
    height: 10px;
    background-color: rgba(255,255,255,.1);
    content: '';
	 margin-left:0; right:-1px;    margin-top: 7px;
	
	
}
.tabs li a.active {border: 1px solid rgba(25,186,139,.17); background: rgba(255,255,255,.05); color:#fff;}

.tit02{ text-align:center; margin: .1rem 0; position: relative}
.tit02 span{border: 1px solid rgba(25,186,139,.17); letter-spacing: 2px; padding: .01rem .2rem; background: rgba(255,255,255,.05);  font-size: .18rem;  color: #49bcf7;}
.tit02:before,.tit02:after{ position:absolute; width:26%; height: 1px;background: rgba(25,186,139,.2);  content: ""; top: .12rem;}
.tit02:after{ right:0;}
.tit02:before{ left:0;}

.wrap{ height:2.54rem; overflow: hidden;}
.wrap li{ width: 4.6rem;line-height:.42rem; height:.42rem; font-size: .18rem; text-indent: .24rem; margin-bottom: .1rem;border: 1px solid rgba(25,186,139,.17);}
.wrap li p{ width: 4.3rem; color: rgba(255,255,255,.6); overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.sy{ float:left; width: 33%; height: 2.2rem; margin-top: -.25rem;}

.financialIndex {width: 100%;height: 180px;}
.financialIndex ul{ width: 100%; height:100%; display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;}
.financialIndex li{ float: left; width: 50%; text-align: center; position: relative; cursor: pointer;}
.financialIndex li:before{ position:absolute; content: ""; height:30%; width: 1px; background: rgba(255,255,255,.1); right: 0; top: 15%;}
.financialIndex li:last-child:before{ width: 0;}

.financialIndex li h2{ font-size:.25rem; color: #c5ccff;}
.financialIndex li span{ font-size:.18rem; color: #fff; opacity: .5;}

.sycm ul{ margin-left:-.5rem;margin-right:-.5rem;  padding: .16rem 0;}
.sycm li{ float: left; width: 33.33%; text-align: center; position: relative; cursor: pointer;}
.sycm li:before{ position:absolute; content: ""; height:30%; width: 1px; background: rgba(255,255,255,.1); right: 0; top: 15%;}
.sycm li:last-child:before{ width: 0;}

.sycm li h2{ font-size:.3rem; color: #c5ccff;}
.sycm li span{ font-size:.18rem; color: #fff; opacity: .5;}

.wraptit {width: 100%; height: 0.25rem;}
.wraptit span{ font-size: 0.2rem;}
.wrap span{ font-size: 0.12rem;}

.wrap {width: 100%;  height: 2rem;}
.wrap span,.wraptit span{display: block; float: left; color: #fff;text-align: center; }
.wraptit span:nth-child(1),.wrap li span:nth-child(1){display:block;width: 30%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.wraptit span:nth-child(2),.wrap li span:nth-child(2){display:block;width: 20%;}
.wraptit span:nth-child(3),.wrap li span:nth-child(3){display:block;width: 20%;}
.wraptit span:nth-child(4),.wrap li span:nth-child(4){display:block;width: 30%;}

@keyframes myfirst2
{
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}

@keyframes myfirst
{
from {transform: rotate(0deg);}
to {transform: rotate(-359deg);}
}

